body{
    background-color:rgb(120, 184, 25)
}

h1{
    background-color: cornsilk;
    color:black;
    text-align: center;
}

h2{
    background-color: black;
    color: white;
    text-align: center;
}

h3{
    background-color: magenta;
    color: wheat;
    text-align: center;
}

img{
    width: 500px;
    height:600px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  body {
    margin: 0;
}

main {
    margin: 16px;
}

.navbar {
    display: flex;
    align-items: center;
    
    background: rgb(144, 51, 153);
    color: white;
    font-family: Helvetica;
    font-weight: 300;
}

.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px;
}

.navbar__item {
    padding: 16px 16px;
    cursor: pointer;
    vertical-align: middle;
}